
@font-face {
  font-family: 'CustomFont';
  src: url('./custom-font.woff2') format('woff2'),
       url('./custom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
